extends layout

block content
  .cover
    h1.cover-heading Rimworld ModRank
    form(method='GET' action='/items')
        div.form-group
            label(for='id') Steam Workshop ID: 
            input#id.form-control(type='text', name='id' required)
        button.btn.btn-primary(type='submit') Search
