extends layout

mixin rankedItem(index, cat)
    a(href='/item?id=' + locals[cat + 'Top' + index].id)
        .row
            .col-2= '#' + locals[cat + 'Top' + index][cat + 'sRank']
            .col= locals[cat + 'Top' + index].itemTitle
            .col.col-sm-3= locals[cat + 'Top' + index][cat+'s'] + (cat === 'unsubscribe' ? '%' : '')

block content
    .row
        .col-sm-8.margin-auto
            h1.cover-heading Rimworld ModRank
            br
            form(method='GET' action='/item').margin-auto
                div.form-group
                    input#id.form-control(type='text', name='id' placeholder='Search with Steam ID' required)
                .row
                    .col-sm-9.nopadding
                        button.btn.btn-primary.rounded-0.rounded-left(type='submit', style='width:100%') Search
                    .col-sm-3.nopadding.d-none.d-sm-block
                        a(href='/item?id=random', style="width:100%").btn.btn-danger.rounded-0.rounded-right Random
            em= 'Search ' + llen + ' total published mods and scenarios!'
    .row
        .col-sm-12.margin-auto(style='margin-top:50px')
            h2 Hall of Famers
            hr.bg-white
        .clearfix
        each cat, i in ['sub', 'fav', 'comment', 'view', 'unsubscribe']
            if (i === 3) 
                .col-lg-2.d-none.d-lg-block
            .col-md-6.col-lg-4(style='margin-bottom:30px')
                ul.list-group
                    a(href='/chart?cat=' + cat)
                        li.list-group-item.bg-danger(style='border-bottom:4px solid white')
                            case cat
                                when 'sub'
                                    h4 Most Subscribed
                                when 'fav'
                                    h4 Most Favorited
                                when 'comment'
                                    h4 Most Commented
                                when 'view'
                                    h4 Most Viewed
                                when 'unsubscribe'
                                    h4 Most Unsubscribed
                    each index in [1, 2, 3]
                        a(href='/item?id=' + locals[cat + 'Top'  + index].id) 
                        case index
                            when 1: li.list-group-item.bg-warning
                                +rankedItem(1, cat)
                            when 2: li.list-group-item.bg-secondary
                                +rankedItem(2, cat)
                            when 3: li.list-group-item.bg-info
                                +rankedItem(3, cat)