doctype html

html
  head
    title= title
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css')
    link(rel='stylesheet', href='/vendor/Bootstrap/css/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='icon', href='/images/mr.png')

  body
    .site-wrapper
        .site-wrapper-inner
            .cover-container
                .masthead
                    .inner
                        a(href='/')
                            h3.masthead-brand
                                img(src='/images/mr.png' alt='RW-MR' style='max-height:40px').img-fluid
                        nav
                            .row
                                ul.nav.masthead-nav(style='margin-left:auto')
                                    li
                                        h5
                                            a(href='/') Search
                                    li
                                        h5
                                            a(href='/compare') Compare
                                    li
                                        h5
                                            a(href='/item?id=random') Random
                                    li
                                        h5
                                            a(href='/compare?id1=random&id2=random') Random Matchup
                            .row
                                ul.nav.masthead-nav(style='margin-left:auto')
                                    li
                                        h6
                                            a(href='/chart?cat=subs') Most Subscribed
                                    li
                                        h6
                                            a(href='/chart?cat=favs') Most Favorited
                                    li
                                        h6
                                            a(href='/chart?cat=comments') Most Commented
                                    li
                                        h6
                                            a(href='/chart?cat=views') Most Viewed
                                    li
                                        h6
                                            a(href='/chart?cat=unsubs') Most Unsubscribed
                            .clearfix
                .inner.cover
                  block content
                .mastfoot
                  .inner
                    em Data may be up to 3 hours old*
                    //p &copy; Nick Fisher 2017

    script(src='https://code.jquery.com/jquery-3.2.1.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery.lazyload/1.9.1/jquery.lazyload.min.js')
    script(src='/vendor/Bootstrap/js/bootstrap.min.js')
    script(src='/javascripts/analytics.js')
    script $("img.lazy").lazyload();
