doctype html

html
  head
    title= title
    link(rel='stylesheet', href='/vendor/Bootstrap/css/bootstrap.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='icon', href='/images/favicon.jpg')

  body
    .site-wrapper
        .site-wrapper-inner
            .cover-container
                .masthead
                    .inner
                        a(href='/')
                            h3.masthead-brand Rimworld ModRank
                        nav
                            ul.nav.masthead-nav
                                li
                                    a(href='/') Home
                .inner.cover
                  block content
                .mastfoot
                  .inner
                    p &copy; Nick Fisher 2017

    script(src='/vendor/Bootstrap/js/bootstrap.js')
    script(src='/javascripts/JavaScript.js')
